<!-- left column -->
<div id="lh-col"><br />
  <h4 align="center">Type the key you want:</h4>
  <p align="center"><input type='text' id='keyInput' onkeyup='nimda.getTheKeys(this)' /></p>
  
</div>
<!-- end of left column -->