<!-- right column -->
<div id="rh-col">
  <p><input type='text' id='keyInput' onkeyup='nimda.getTheKeys(this)' /></p>
  <div id='keyListHolder'></div>
<div id='commandLineHolder'></div>
</div>
<!-- end of right column -->