/* Layout Stylesheet */


body{
 margin: 0px;
 padding:0;
 background: #808080;
 color: #333333;
 }

 img {
   border: 0px;
}

#eye {
  margin: 2px;
  padding: 2px;
}

#lh-col{
 position: absolute;
 top: 20px;
 left: 20px;
 width: 180px;
 border: 2px solid #000000;
 background: #c0c0c0;
 color: #333333;
 margin: 0px;
 padding: 0px;
 height: 400px;
 }

#rh-col{
 margin: 20px 20px 20px 220px;
 border: 2px solid #000000;
 background: #ffffff;
 color: #333333;
 padding: 20px;
 }

/* Presentation Stylesheet */
h4 {
 margin:0;
 padding: 5px 0;
 }

.oneKey {
  padding: 5px;
  font-size: 10pt;
  margin: 4px;
  position: relative;
  border: #fff 1px solid;
}

.onMouseOverKey {
  background-color: #B5EDBC;
  border: #298885 1px solid;
}

#keyInput {
  height: 30px;
  width: 420px;
  border: #298885 1px solid;
  font-size: 25px;
  color: #534545;
}

#keyListHolder {
  height: 460px;
  width: 420px;
  overflow: auto;
  background-color: #fff;
  border: #298885 1px solid;
  padding: 5px;
}

.keyValue {
  background-color: #e6f69f;
  border: 1px solid #5b7a11;
  text-align: left;
  margin: 2px;
  padding: 5px;
  width: 80%;
}

#commandLineHolder {
  border: 1px solid #5b7a11;
}